.charlotteheader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:crimson;
    text-align: center;
}

body {background-color: cornsilk;}

nav {background-color:red}

nav {
    padding: 10px;
    margin-bottom: 30px;
}

nav a {color: #2C91C0;}


a:visited {
    color:#FFFFFF;
}

.box1 {display:flex; flex-wrap: wrap;}
.box2 {display:flex; flex-wrap: wrap;}

.box1 {
        margin: auto;
        width: 70%;
        border: 3px solid green;
        padding: 10px;
        margin-bottom: 20px;
}

.charlotteimage {max-width: 100%;}

.box2 {
    margin-left: 20px;
    margin-right: 20px;
}

.charlotte {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px ;
}

footer {background-color:red}
.quote {color: #FFFFFF;}
footer {
    padding: 10px;
    margin-bottom: 30px;
}